<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
</header>
    <h1> Bienvenue au club de {{ comm_affichee.name }} de Supaero</h1>

    <table>
        <tr>
            <th scope="col_name">Date du post</th>
            <th scope="col_name">Auteur</th>
            <th scope="col_name">Voir</th>
        </tr>
        {% for p in posts %}
            <tr>
                <div class="post">
                    <th scope="row">{{ p.date }}</th>
                    <th scope="row">{{ p.auteur}}</th>
                </div>
                <th scope="row"><a href= "{% url 'voir_post' p.id %}"><i class="fas fa-eye"></i></a></i></th>
            </tr>

        {% empty %}
            <p>
                Aucun post
            </p>
        {% endfor %}
    </table>

</body>
</html>