<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<style>
    a{
        color: black;
    }
</style>


<body>
<table id="accueil">
    <tr>
    <th>Communauté</th>
    <th>Abonnement</th>
    </tr>



    <h1>Bienvenue {{ab}} </h1>

    {% for com_traite in comm_ab %}
    <div class ="com">
        <tr>
       <th> {{com_traite.name}} </th>
    </div>
    <th><a href= "{% url 'desabonnement' ab.id com_traite %}"><i class="fas fa-heart" style ="color:red"></i></a></th>
    </tr>



   {%empty%}
    <p>Aucun abonnement</p>
   {%endfor%}

   {% for com2 in pas_ab %}
        <div class ="com2">

            <tr>
            <th>{{com2.name}}</th>
        </div>
        <th><a href= "{% url 'abonnement' ab.id com2 %}"><i class="fas fa-heart"></i></a></th>
        </tr>

    {%endfor%}

<a href="deconnexion"><input type="button" value="Déconnexion"></a>

</table>
</body>
</html>